In [9]:
import nltk
nltk.download('stopwords')
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score, confusion_matrix
from nltk.corpus import stopwords
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np
import urllib3

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\alfredo\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [10]:
df = pd.read_csv("database-news.csv")

In [11]:
df.head()

   Unnamed: 0                                            noticia label
0           0  Kátia Abreu diz que vai colocar sua expulsão e...  fake
1           1  Blog esquerdista dá a entender que reclamar de...  fake
2           2  Alckmin diz que por ele PSDB desembarca, mas...  fake
3           3  Cara de pau não tem limites: Zé Celso aciona M...  fake
4           4  Temer resolve o problema de Luislinda: liberd...  fake

In [12]:
df.tail()

      Unnamed: 0                                            noticia label
7195        7195  Ficou longe das notícias no fim de ano? Veja o...  true
7196        7196   A nova denúncia contra o ex-presidente Luiz I...  true
7197        7197  Como a Bahia virou uma potência mundial do mar...  true
7198        7198  Alvo da Lava Jato, Bendine tinha passagem comp...  true
7199        7199  Chefs convidados do Encontro Mundial das Cidad...  true